.scroller-component {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.scroller-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.scroller-mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
  background-image:
    -webkit-linear-gradient(top, rgba(255,255,255,0.95), rgba(255,255,255,0.6)),
    -webkit-linear-gradient(bottom, rgba(255,255,255,0.95), rgba(255,255,255,0.6));
  background-image:
    linear-gradient(to bottom, rgba(255,255,255,0.95), rgba(255,255,255,0.6)),
    linear-gradient(to top, rgba(255,255,255,0.95), rgba(255,255,255,0.6));
  background-position: top, bottom;
  background-repeat: no-repeat;
}

.scroller-item {
  text-align: center;
  font-size: .24rem;
  color: #000;
}

.scroller-indicator {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 3;
  background-image:
    -webkit-linear-gradient(top, #d0d0d0, #d0d0d0, transparent, transparent),
    -webkit-linear-gradient(bottom, #d0d0d0, #d0d0d0, transparent, transparent);
  background-image:
    linear-gradient(to bottom, #d0d0d0, #d0d0d0, transparent, transparent),
    linear-gradient(to top, #d0d0d0, #d0d0d0, transparent, transparent);
  background-position: top, bottom;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}
.scroller-item {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width:320px) {
  .scroller-component{ height: 175px;}
  .scroller-item {
    height: 25px;
    line-height: 25px;
  }
  .scroller-mask{ background-size: 100% 75px;}
  .scroller-indicator{ height: 25px; top: 75px;}
}

@media screen and (min-width:360px) {
  .scroller-component{ height: 182px;}
  .scroller-item {
    height: 26px;
    line-height: 26px;
  }
  .scroller-mask{ background-size: 100% 78px;}
  .scroller-indicator{ height: 26px; top: 78px;}
}

@media screen and (min-width:375px) {
  .scroller-component{ height: 203px;}
  .scroller-item {
    height: 29px;
    line-height: 29px;
  }
  .scroller-mask{ background-size: 100% 87px;}
  .scroller-indicator{ height: 29px; top: 87px;}
}

@media screen and (min-width:414px) {
  .scroller-component{ height: 238px;}
  .scroller-item {
    height: 34px;
    line-height: 34px;
  }
  .scroller-mask{ background-size: 100% 102px;}
  .scroller-indicator{ height: 34px; top: 102px;}
}

@media screen and (min-width:480px) {
  .scroller-component{ height: 273px;}
  .scroller-item {
    height: 39px;
    line-height: 39px;
  }
  .scroller-mask{ background-size: 100% 117px;}
  .scroller-indicator{ height: 39px; top: 117px;}
}
